ARGYLE_API_URL=https://api-sandbox.argyle.io/v1
NEXT_PUBLIC_ARGYLE_BASE_URL=https://api-sandbox.argyle.io/v1

# https://docs.argyle.com/guides/docs/console-faq#how-do-i-generate-an-api-key
ARGYLE_API_KEY=
ARGYLE_API_SECRET=
NEXT_PUBLIC_ARGYLE_LINK_KEY=

# https://docs.argyle.com/guides/docs/customizing-argyle-link#apply-your-customization
NEXT_PUBLIC_ARGYLE_CUSTOMIZATION_ID=